on property:sys.boot_completed=1
    setprop spectrum.support 1
    setprop persist.spectrum.kernel rsyhan-EAS

# Balanced
on property:persist.spectrum.profile=0
    write /sys/devices/virtual/thermal/thermal_message/sconfig 0

# Performance
on property:persist.spectrum.profile=1
    write /sys/devices/virtual/thermal/thermal_message/sconfig 1
  
# Battery
on property:persist.spectrum.profile=2
    write /sys/devices/virtual/thermal/thermal_message/sconfig 2

# Gaming/Benchmarks
on property:persist.spectrum.profile=3
    write /sys/devices/virtual/thermal/thermal_message/sconfig 3

# Extreme Battery
on property:persist.spectrum.profile=4
    write /sys/devices/virtual/thermal/thermal_message/sconfig 4