# rsyhan's LuxuryROM Custom Initialization

on init
    # Setup all cpusets
    mkdir /dev/cpuset/kernel 0750 root system
    write /dev/cpuset/kernel/cpus 0
    write /dev/cpuset/kernel/mems 0
    chown system system /dev/cpuset/kernel/tasks
    chmod 0660 /dev/cpuset/kernel/tasks
    mkdir /dev/cpuset/system 0750 root system
    write /dev/cpuset/system/cpus 0
    write /dev/cpuset/system/mems 0
    chown system system /dev/cpuset/system/tasks
    chmod 0660 /dev/cpuset/system/tasks
    mkdir /dev/cpuset/system/performance 0750 root system
    write /dev/cpuset/system/performance/cpus 0
    write /dev/cpuset/system/performance/mems 0
    chown system system /dev/cpuset/system/performance/tasks
    chmod 0660 /dev/cpuset/system/performance/tasks
    mkdir /dev/cpuset/system/background 0750 root system
    write /dev/cpuset/system/background/cpus 0
    write /dev/cpuset/system/background/mems 0
    chown system system /dev/cpuset/system/background/tasks
    chmod 0660 /dev/cpuset/system/background/tasks
    mkdir /dev/cpuset/application 0750 root system
    write /dev/cpuset/application/cpus 0
    write /dev/cpuset/application/mems 0
    chown system system /dev/cpuset/application/tasks
    chmod 0660 /dev/cpuset/application/tasks
    mkdir /dev/cpuset/application/performance 0750 root system
    write /dev/cpuset/application/performance/cpus 0
    write /dev/cpuset/application/performance/mems 0
    chown system system /dev/cpuset/application/performance/tasks
    chmod 0660 /dev/cpuset/application/performance/tasks
    mkdir /dev/cpuset/application/background 0750 root system
    write /dev/cpuset/application/background/cpus 0
    write /dev/cpuset/application/background/mems 0
    chown system system /dev/cpuset/application/background/tasks
    chmod 0660 /dev/cpuset/application/background/tasks

on post-fs
    chown system system /sys/class/timed_output/vibrator/vmax_mv

on boot
    # KCAL permissions
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val

    # Vibrator permissions
    chmod 0660 /sys/devices/virtual/timed_output/vibrator/vmax_mv
    chown system system /sys/devices/virtual/timed_output/vibrator/vmax_mv

    # Torch Brightness
    chown system system /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_0/max_brightness
    chown system system /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_1/max_brightness
    chmod 0660 /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_0/max_brightness
    chmod 0660 /sys/devices/soc/800f000.qcom,spmi/spmi-0/spmi0-03/800f000.qcom,spmi:qcom,pm660l@3:qcom,leds@d300/leds/led:torch_1/max_brightness

    # Speed up boot time
    write /dev/cpuset/top-app/cpus 0-3,4-7
    write /dev/cpuset/foreground/cpus 0-3,4-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7
    write /dev/cpuset/kernel/cpus 0-7
    write /dev/cpuset/system/cpus 0-7
    write /dev/cpuset/system/performance/cpus 0-7
    write /dev/cpuset/system/background/cpus 0-7
    write /dev/cpuset/system/cpus 0-7
    write /dev/cpuset/application/cpus 0-7
    write /dev/cpuset/application/performance/cpus 0-7
    write /dev/cpuset/application/background/cpus 0-7
    write /dev/cpuset/application/cpus 0-7

# Kernel Profiles Initialization
on property:sys.boot_completed=1
  # Enable Spectrum support
  setprop spectrum.support 1
  # Add kernel name
  setprop persist.spectrum.kernel rsyhan-LuxuryKernel
    # Setup post-boot cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/kernel/cpus 2,3
    write /dev/cpuset/system/performance/cpus 6-7
    write /dev/cpuset/system/background/cpus 0-1
    write /dev/cpuset/system/cpus 0-1,6-7
    write /dev/cpuset/application/performance/cpus 4-5
    write /dev/cpuset/application/background/cpus 0-1
    write /dev/cpuset/application/cpus 0-1,4-5

    # Enable EAS
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"

    # Set IO scheduler to BFQ once boot is complete
    setprop sys.io.scheduler "bfq"

# Balance
on property:persist.spectrum.profile=0
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "633000"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1843200"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time "42000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load "80"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate "20000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "85 1747200:95"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "1113600"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "2208000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load "90"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate "20000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "85 1401600:90 2150400:95"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis "59000"

  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401600"
  write /sys/module/cpu_boost/parameters/input_boost_ms "60"

  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz

  write /dev/cpuset/foreground/cpus 0-2,4-7
  write /dev/cpuset/foreground/boost/cpus 4-7
  write /dev/cpuset/top-app/cpus 0-7

# Performance
on property:persist.spectrum.profile=1
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "902400"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1843200"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load "75"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate "20000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "85 1747200:95"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "1113600"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "2208000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load "75"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate "20000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "85 1401600:90 2150400:95"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401600 1:0 2:0 3:0 4:1401600 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms "60"

  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz

  write /dev/cpuset/foreground/cpus 0-2,4-7
  write /dev/cpuset/foreground/boost/cpus 4-7
  write /dev/cpuset/top-app/cpus 0-7


# Battery
on property:persist.spectrum.profile=2
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "633000"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1401600"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load "90"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "25000 1401600:39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate "40000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "85 1747200:95"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq "1113600"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "1113600"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "1747200"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load "95"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate "40000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "85 1401600:90 2150400:95"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
  write /sys/module/cpu_boost/parameters/input_boost_ms "0"

  write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave

  write /dev/cpuset/foreground/cpus 0-2,4-5
  write /dev/cpuset/foreground/boost/cpus 4-5
  write /dev/cpuset/top-app/cpus 0-5

# Gaming/Benchmarks
on property:persist.spectrum.profile=3
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "1401600"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1843200"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load "70"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate "20000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "85 1747200:90"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration "80000"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "1747200"
  write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "2208000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time "39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load "80"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate "20000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack "80000"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "80 1401600:85 2150400:90"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq "1401600"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down "1"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/align_windows "0"
  write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis "0"

  write /sys/module/cpu_boost/parameters/input_boost_freq "0:1401600 1:1401600 2:1401600 3:1401600 4:1401600 5:1401600 6:1401600 7:1401600"
  write /sys/module/cpu_boost/parameters/input_boost_ms "80"

  write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance

  write /dev/cpuset/foreground/cpus 0-2,4-7
  write /dev/cpuset/foreground/boost/cpus 4-7
  write /dev/cpuset/top-app/cpus 0-7
